* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #3f5bee;
  --yellow: #e8be1c;
  --white: #fff;
  --black: #000;
}
body {
  height: auto;
}
.header {
  background-image: linear-gradient(to left, #e8be1c, #3f5bee, #e8be1c);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  padding-left: 2rem;
}
.title-name {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: var(--white);
}
.header-last {
  display: flex;
  gap: 2.5rem;
  padding-right: 2rem;
}
.last-haf {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: var(--white);
}
.bar {
  height: 0.4rem;
  border: 1px solid var(--black);
}

.body {
  background-color: var(--blue);
}
.body-top {
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
}
.body-box {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 3.45rem;
}
.body-buttom {
  height: 3rem;
  width: 9rem;
  background-color: #e8be1c;
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  font-size: 16px;
}
