.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

canvas {
    margin-bottom: 40px;
}

label {
    font-size: 18px;
}

select {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 20px;
}
